[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/path/to/access_telebot/workspace
ExecStart=/path/to/access_telebot/env/bin/gunicorn \
        --access-logfile /path/to/access_telebot/workspace/logs/gunicorn.log \
        --error-logfile /path/to/access_telebot/workspace/logs/gunicorn.log \
        --workers 3 \
        --bind unix:/path/to/access_telebot.sock \
        --chdir /path/to/access_telebot/workspace \
        access_telebot.wsgi:application

[Install]
WantedBy=multi-user.target
