[Unit]
Description=Run all AccessTelebot workers
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/path/to/access_telebot
ExecStart=/path/to/virtualenv/bin/python manage.py run_all_workers
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=access_telebot
Environment=DJANGO_SETTINGS_MODULE=access_telebot.settings

[Install]
WantedBy=multi-user.target

