# Created by https://www.gitignore.io


# Thumbnails
._*


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Distribution / packaging
.Python
env/
downloads/
import/
export/
var/
staticfiles/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/


### Django ###
*.log
*.pot
*.pyc
migrations/
!migrations/__init__.py
fixtures/

### VIM ###
*.swp
*.swo

### Access telebot ###
logs/
settings_local.py
media/
