{% extends "admin/base_site.html" %}

{% block content %}
<h1>Bot dialog with customer</h1>
{% for message in dialog_messages %}
    {% if message.creator == '1' %}
        {{ message.chat_id }}:
    {% else %}
        Bot:
    {% endif %}<br>
    {{ message.text }} <br>
    <br>
{% endfor %}

<form method="post">
    {% csrf_token %}
    <textarea name="text" rows="4" cols="50" placeholder="Type your message here..."></textarea><br>
    <button type="submit">Send</button>
</form>
{% endblock %}
